
services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "Abcd1234!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - sqlserver-data:/var/opt/mssql

  be:
    build: ./be
    environment:
      SPRING_DATASOURCE_URL: jdbc:sqlserver://db:1433;databaseName=MedConnect
      SPRING_DATASOURCE_USERNAME: sa
      SPRING_DATASOURCE_PASSWORD: "Abcd1234!"
    ports:
      - "8080:8080"
    depends_on:
      - db

  fe:
    build: ./fe
    ports:
      - "3000:3000"
    depends_on:
      - be

volumes:
  sqlserver-data: