rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Cho phép user đã đăng nhập đọc/ghi messages trong vc_rooms
    match /vc_rooms/{roomId}/messages/{messageId} {
      allow read, write: if request.auth != null;
    }
  }
}

